#flex-content{
	display: flex;
	flex-direction: column;
	width:94vw;
	margin:0 auto;
}
#flex-content table{
	order:1;
}
#flex-content footer{
	order:2
}

@media screen and (min-width: 800px){
	#flex-content{
		display: flex;
		flex-direction: column;
		width:960px;
		margin:0 auto;
	}
	#flex-content table{
	order:0;
	}

}

body{
	background-color:#99d;
	margin:0;
}
header{
	background-color:#4ac;
	padding:12px;
}
footer{
	background-color:#4aa;
	padding:12px;
}
#logo{
	float:left;
	margin:0;
	width:100px;
	height:100px;
}
#logotext{
	background-color:#55A;
	padding:12px;
	font-size:30pt;
	text-align:left;
	text-shadow:0px 1px 3px #FFF;
	margin:15px;
	font-family: Arial;
}
#menu{
	padding:15px;
	background-color:#8F8;
	text-align:center;
	text-decoration: none;
}
#copyright{
	padding:5px;
	color:white;
	text-shadow:0 0 4px #FFE;
}
table{
	border-spacing:5px;
	border-collapse: collapse;
	border: solid red;
}
th, td{
	border: solid red;
}
tr:nth-child(odd) { 
	background-color:#97D
} 
tr:nth-child(even) {
	background-color:#79D
} 
caption{
	background-color:#77F
}
#even_tr{
	background-color:#97D;
}
#odd_tr{
	background-color:#79D;
}